<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target fileName="${logger}.txt" xsi:type="File" name="file" layout="${date:format=dd/MM/yyyy hh.mm.ss} ${message}" archiveAboveSize="100000000"/>
      <target name="fileLog" type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
        <target type="File" fileName="${specialfolder:folder=MyDocuments}/LogViewer/logs/${shortdate}.txt" layout="${longdate};${level};${threadid};${callsite};${logger};${message};${exception:format=tostring}" archiveFileName="${specialfolder:folder=MyDocuments}/LogViewer/logs/archive/{#}.zip" archiveDateFormat="yyyy-MM-dd" archiveNumbering="Date" enableArchiveFileCompression="True" maxArchiveFiles="7" archiveEvery="Day"/>
      </target>
    </targets>

    <rules>
      <logger name="*" minlevel="Debug" writeTo="fileLog"/>
    </rules>
    
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
